/*
******************
    DEFAULT CSS
******************
*/
/* Move the header to the back and centralise the h1 element. Greyed to remove emphasis */
header, h1 {
    z-index: -1;
}

h1, header p {
    color: #DDD;
    font-size: 4vw;
    
    /* position centrally */
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header p {
    font-size: 20px;
    top: 45%;
}
/* ************ */
